h1 {
    text-align:center;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, Times New Roman, serif;
    }
h2 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
h3{
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
}
button {
    background-color:#4aaaa5

}
.Portfolio {
    color: lightgray;
    float:right;}

.Contact {
    color: lightgray;
    float:right;}

.About {
    font-size 20;
    color: lightgray;
    float:right;}






